<template>
  <div @click="goToDetail">
    <postbox></postbox>
    <postbox></postbox>
    <postbox></postbox>
    <postbox></postbox>
  </div>
</template>

<script>
import postbox from '@/components/postbox'

export default {
  data () {

  },
  components: {
    postbox
  },
  methods: {
    goToDetail () {
      wx.navigateTo({
        url: '../postDetail/main'
      })
    }
  },
  onShow () {
    wx.showTabBar()
  }
}
</script>
