<template>
    <div>
    <van-field :value="nickname" @input="inputNickname" label="用户名" :border="border" left-icon="contact" />
    <van-field :value="phone" @input="inputPhone" label="手机号" placeholder="请输入手机号" :border="border"></van-field>
    <van-field :value="verificationCode" @input="inputVer" center clearable label="短信验证码" :border="border" placeholder="请输入短信验证码" use-button-slot>
    <van-button slot="button" size="small" type="primary" @click="sendVer">发送验证码</van-button>
    </van-field>
    <van-field :value="province" center clearable label="地区" placeholder="请输入地区" :border="border" use-button-slot>
      <van-button slot="button" size="small" type="default" @click="click">地区选择</van-button>
    </van-field>
    <van-popup :show="showArea" @close="onClose" position="bottom">
      <van-picker :columns="columns" @change="onChange" />
    </van-popup>
    <van-tabs :active="active" color="#2BD591" @change="chooseType">
      <van-tab title="学生">
        <van-field :value="currentSchool" center clearable label="学校" placeholder="请输入您的学校" use-button-slot>
          <van-button slot="button" size="small" type="default" @click="clickSchool">选择学校</van-button>
        </van-field>
        <van-popup :show="showSchool" @close="closeSchool" position="bottom">
          <van-picker :columns="schoolList" @change="changeSchool" />
        </van-popup>
      </van-tab>
      <van-tab title="教师">
        <div>
        </div>
        <div>
        <van-radio-group v-model="teacherType">
          <van-cell-group>
            <van-cell title="学校老师" clickable data-name="1" @click="teacherType = '1'">
              <van-radio name="1" />
            </van-cell>
            <van-cell title="机构老师" clickable data-name="2" @click="teacherType = '2'">
              <van-radio name="2" />
            </van-cell>
          </van-cell-group>
        </van-radio-group>
        </div>
      </van-tab>
      <van-tab title="家长">
        <van-field :value="target" center clearable label="目的" placeholder="请输入您来社区的目的" use-button-slot>
          <van-button slot="button" size="small" type="default" @click="clickTarget">目的选择</van-button>
        </van-field>
        <van-popup :show="showTarget" @close="closeTarget" position="bottom">
          <van-picker :columns="targetlist" @change="changeTarget" />
        </van-popup>
      </van-tab>
      <van-tab title="其他">
      </van-tab>
    </van-tabs>
    <van-button size="large" @click="save">保存</van-button>
    </div>
</template>
<script>
import {UPDATE_USER_INFO, GET_USER_ALL_INFO, columns, VERCODE, schoolColumn} from '../../api/index'

export default {
  data () {
    return {
      msg: '阿曹',
      columns: columns,
      activeNames: ['1'],
      showArea: false,
      showTarget: false,
      showSchool: false,
      border: false,
      ban: 0,
      province: '',
      phone: '',
      verificationCode: '',
      active: 0,
      target: '',
      targetlist: ['了解政策', '为孩子寻找培训资料', '为孩子寻找培训机构', '其他'],
      school: '',
      type: '1',
      teacherType: '1',
      organization: '',
      nickname: '',
      prize: '未获奖项',
      icon: '',
      schoolList: schoolColumn,
      currentSchool: ''
    }
  },
  methods: {
    onChange (event) {
      this.province = event.mp.detail.value
    },
    click (event) {
      this.showArea = true
    },
    onClose () {
      this.showArea = false
    },
    changeTarget (event) {
      this.target = event.mp.detail.value
    },
    changeSchool (event) {
      this.currentSchool = event.mp.detail.value
    },
    closeTarget (event) {
      this.showTarget = false
    },
    closeSchool () {
      this.showSchool = false
    },
    clickTarget (event) {
      this.showTarget = true
    },
    clickSchool () {
      this.showSchool = true
    },
    clickTeacherTypeOne (event) {
      this.teacherType = '1'
    },
    clickTeacherTypeTwo (event) {
      this.teacherType = '2'
    },
    sendVer (event) {
      let that = this
      let api = VERCODE
      wx.request({
        url: api,
        method: 'post',
        data: {
          'phone': that.phone
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success () {
        }
      })
    },
    getUserInfo (event) {
      let that = this
      that.verificationCode = ''
      let api = GET_USER_ALL_INFO
      wx.request({
        url: api,
        method: 'post',
        data: {
          'uid': that.$store.state.openId
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          that.province = res.data.province
          that.phone = res.data.phonenumber
          that.nickname = res.data.nickname
          that.school = res.data.school
          that.organization = res.data.institution
          that.icon = res.data.icon
          if (res.data.type === '1') {
            that.active = 0
          } else if (res.data.type === '2') {
            that.active = 1
          } else if (res.data.type === '3') {
            that.active = 2
          } else if (res.data.type === '4') {
            that.active = 3
          }
          that.teacherType = res.data.teacherType
        }
      })
    },
    save () {
      let that = this
      let api = UPDATE_USER_INFO
      wx.request({
        url: api,
        method: 'post',
        data: {
          'uid': that.$store.state.openId,
          'nickname': that.nickname,
          'phone': that.phone,
          'verificationCode': that.verificationCode,
          'province': that.province,
          'type': that.type,
          'school': that.school,
          'institution': that.organization,
          'teachertype': that.teacherType,
          'objective': that.target,
          'prize': that.prize,
          'ban': that.ban,
          'icon': that.icon
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          if (res.data.success === 1) {
            wx.showToast({
              title: '修改信息成功',
              icon: 'success',
              duration: 1000
            })
            setTimeout(function () {
              wx.navigateBack({
                url: '../addUserInfo/main'
              })
            }, 1000)
          } else if (res.data.success === 0) {
            wx.showToast({
              title: '修改信息失败，请重试',
              icon: 'none',
              duration: 1000
            })
          }
        }
      })
    },
    chooseType (event) {
      this.type = event.mp.detail.index
      this.type = this.type + 1
    },
    inputSchool (event) {
      this.currentSchool = event.mp.detail
    },
    inputPhone (event) {
      this.phone = event.mp.detail
    },
    inputVer (event) {
      this.verificationCode = event.mp.detail
    },
    inputOrg (event) {
      this.organization = event.mp.detail
    },
    inputNickname (event) {
      this.nickname = event.mp.detail
    }
  },
  onLoad () {
    this.getUserInfo()
  }
}
</script>
