<template>
    <div>
    <van-field :value="nickname" label="用户名" :border="border" disabled/>
    <van-field :value="area" center clearable label="地区" placeholder="未设置地区" :border="border" disabled use-button-slot>
    </van-field>
    <van-popup :show="showArea" @close="onClose" position="bottom">
      <van-picker :columns="columns" @change="onChange" />
    </van-popup>
    <van-field :value="phone" label="手机号" placeholder="未设置手机号  " :border="border" disabled></van-field>
    <van-field :value="identity" center clearable label="身份" placeholder="其他" :border="border" disabled use-button-slot>
    </van-field>
    <van-field :value="auth" center clearable label="认证情况" placeholder="未认证" :border="border" disabled use-button-slot>
    </van-field>
    <van-cell title="修改信息" is-link url="../changeUserInfo/main" />
    <van-cell title="身份认证" is-link url="../identity/main"/>
    </div>
</template>
<script>
import {GET_USER_INFO} from '../../api/index'

export default {
  data () {
    return {
      nickname: '游客',
      activeNames: ['1'],
      showArea: false,
      showTarget: false,
      border: false,
      ban: false,
      area: '',
      phone: this.$store.state.phone,
      verificationCode: '',
      active: 0,
      target: '',
      targetlist: ['了解政策', '为孩子寻找培训资料', '为孩子寻找培训机构', '其他'],
      school: '',
      teacherType: '1',
      identity: '',
      auth: ''
    }
  },
  methods: {
    getUserInfo (event) {
      let that = this
      let api = GET_USER_INFO
      wx.request({
        url: api,
        method: 'post',
        data: {
          'uid': that.$store.state.openId
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          that.auth = ''
          that.area = res.data.province
          that.phone = res.data.phonenumber
          that.nickname = res.data.nickname
          that.$store.commit('setPhone', res.data.phonenumber)
          if (res.data.type === 'other') {
            that.identity = '其他'
          } else if (res.data.type === 'student') {
            that.identity = '学生'
            that.auth = res.data.prize
          } else if (res.data.type === 'schoolTeacher') {
            that.identity = '学校老师'
            that.auth = res.data.institution
          } else if (res.data.type === 'institutionTeacher') {
            that.identity = '机构老师'
            that.auth = res.data.institution
          } else if (res.data.type === 'parent') {
            that.identity = '家长'
          }
        }
      })
    },
    onChange (event) {
      this.area = event.mp.detail.value
    },
    click (event) {
      this.showArea = true
    },
    onClose () {
      this.showArea = false
    },
    changeTarget (event) {
      this.target = event.mp.detail.value
    },
    closeTarget (event) {
      this.showTarget = false
    },
    clickTarget (event) {
      this.showTarget = true
    },
    clickTeacherTypeOne (event) {
      this.teacherType = '1'
    },
    clickTeacherTypeTwo (event) {
      this.teacherType = '2'
    }
  },
  onShow () {
    this.getUserInfo()
  },
  onLoad () {
    this.getUserInfo()
  }
}
</script>
