<template>
  <div>
    <div class="trending-item" v-for="comment in comments" :key="comment.id">
      <div class="top">
        <img class="userinfo-avatar" :src="comment.avatar" background-size="cover" />
        <p class="trending-name">{{ comment.nickname }}</p>
        <p class="trending-lang"><span class="lang-color-blue">#{{ comment.floor }}</span></p>
      </div>
      <div class="top">
        <p class="trending-time">{{ comment.date }}</p>
      </div>
      <span class="trending-desc relate" v-if="comment.relate != 0">@{{ comment.relate }}楼</span>
      <p class="trending-desc">{{ comment.content }}</p>
      <div class="bottom">
        <p class="incrementtwo"></p>
        <p class="incrementtwo"></p>
        <p class="incrementone"></p>
        <p class="incrementone"></p>
        <p class="incrementtow"></p>
        <p class="incrementtow"></p>
        <p class="incrementtwo">
          <span class="comment" @click="tryComment(comment)">回复</span>
          <!--
          <i class="iconfont icon-comment">
          </i>
          -->   
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { GET_USER_INFO_URL } from '../api/index'

export default {
  data () {
    return {
    }
  },
  computed: {
    comments: function () {
      return this.$store.state.comments
    }
  },
  methods: {
    goToDetail (post) {},
    resetShowReply () {

    },
    getUserInfo () {
      wx.getUserInfo({
        success: (res) => {
          this.userInfo = res.userInfo
          this.avatarUrl = res.userInfo.avatarUrl
        }
      })
    },
    getUserCommentRight () {
      let that = this
      let right = 0
      wx.request({
        url: GET_USER_INFO_URL,
        method: 'post',
        data: {
          'uid': that.$store.state.openId
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          right = res.data.ban
          that.$store.commit('setCommentRight', res.data.ban)
        }
      })
      return right
    },
    tryComment (comment) {
      let that = this
      let commentRight = that.getUserCommentRight()
      that.$store.commit('setRelateFloor', comment.floor)
      if (commentRight === 1) {
        wx.showToast({
          title: '您已被禁言',
          icon: 'none',
          duration: 1500
        })
      } else if (this.$store.state.currentPost.comment_allowed === 1) {
        wx.showToast({
          title: '改帖子无法评论',
          icon: 'none',
          duration: 1500
        })
      } else {
        that.$store.commit('setShowReplyBox', true)
      }
    }
  },
  onShow () {
    this.getUserInfo()
  },
  onLoad () {
    this.getUserInfo()
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/postbox.scss';
@import '../../static/fonts/iconfont.css';
.userinfo-avatar {
  width: 70rpx;
  height: 70rpx;
  margin: 10rpx 20rpx 10rpx 0;
  border-radius: 50%;
}

.relate {
  background-color: rgb(240, 234, 234);
  max-width: 200rpx;
}

.comment {
  width: 116rpx;
  height: 64rpx;
  line-height: 64rpx;
  text-align: center;
  color: #66CC00;
}
</style>
