<template>
  <div>
    <div class="trending-item" v-for="post in posts" v-bind:key="post.id" @click="goToDetail(post)">
      <div class="top">
        <img class="userinfo-avatar" :src="post.avatar" background-size="cover" />
        <p class="trending-name">{{ post.nickname }} {{ post.range }}</p>
        <p class="trending-lang" v-if="post.is_essence"><span class="lang-color">精</span></p>
        <p class="trending-lang" v-else>&nbsp;</p>
      </div>
      <div class="top">
        <p class="trending-time">{{ post.date }} {{ post.authentication }}</p>
      </div>
      <div class="top">
        <p class="trending-name">{{ post.title }}</p>
      </div>
      <div class="bottom">
        <p class="incrementtwo">
          <i class="iconfont icon-like"><span class="desc">{{ post.thumbsup }}</span></i>
        </p>
        <p class="incrementtwo">
          <i class="iconfont icon-unlike"><span class="desc">{{ post.thumbsdown }}</span></i>
        </p>
        <p class="incrementone">
          <i class="iconfont icon-comment"><span class="desc">{{ post.comment }}</span></i>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { GET_USER_INFO_URL } from '../api/index'

export default {
  data () {
    return {
    }
  },
  computed: {
    posts: function () {
      return this.$store.state.posts
    }
  },
  methods: {
    getUserCommentRight () {
      let that = this
      wx.request({
        url: GET_USER_INFO_URL,
        method: 'post',
        data: {
          'uid': that.$store.state.openId
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          that.$store.commit('setCommentRight', res.data.ban)
        }
      })
    },
    goToDetail (post) {
      this.$store.commit('setCurrentPost', post)
      this.getUserCommentRight()
      const url = '../postDetail/main'
      wx.navigateTo({ url })
    }
  }
}
</script>

<style scoped lang='scss'>
@import '../styles/postbox.scss';
@import '../../static/fonts/iconfont.css';

.userinfo-avatar {
  width: 70rpx;
  height: 70rpx;
  margin: 10rpx 20rpx 10rpx 0;
  border-radius: 50%;
}
</style>
