<template>
  <div class="comment-container" @click.stop="prevent">
    <textarea class="textarea" v-model="content" :cursor-spacing="150" :maxlength="-1" :auto-height="true" :placeholder-class="input_null" :fixed="true" :focus="true" :show-confirm-bar="false" placeholder="写评论..."></textarea>
    <div class="submit">发送</div>
  </div>
</template>

<script>
export default {
  data: {
    content: ''
  },
  methods: {
    prevent () {},
    async send () {
    },
    closeModel () {
    },
    goBackToList () {

    }
  }
}
</script>

<style>
.comment-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 18rpx 0 18rpx 30rpx;
  background-color: #F7F8F7;
  font-size: 28rpx;
  z-index: 999;
}

.textarea {
  width: 604rpx;
  min-height: 340rpx;
  border-width: 15rpx 20rpx;
  border-style: solid;
  border-color:  #ffffff;
  line-height: 34rpx;
  font-size: 28rpx;
  background-color: #ffffff;
  border-radius: 4rpx;
}

.submit {
  width: 116rpx;
  height: 64rpx;
  line-height: 64rpx;
  text-align: center;
  color: #66CC00;
}
</style>
