<template>
  <div class="comment-container" @click.stop="prevent">
    <textarea class="textarea" v-model="commentContent"  @input='bindTextareaChange($event)' :cursor-spacing="15" :maxlength="-1" :auto-height="true" :placeholder-class="input_null" :fixed="true" :show-confirm-bar="false" placeholder="写评论..."></textarea>
    <div @click="sendReply($event)" class="submit">发送</div>
  </div>
</template>

<script>
import { SEND_COMMENT_URL } from '@/api/index.js'
export default {
  data () {
    return {
      commentContent: '',
      readySend: false
    }
  },
  methods: {
    prevent () {},
    bindTextareaChange (e) {
      if (this.commentContent.length !== 0) {
        this.readySend = true
      } else {
        this.readySend = false
      }
    },
    sendReply ($event) {
      let that = this
      if (that.readySend) {
        wx.request({
          url: SEND_COMMENT_URL,
          data: {
            'postid': that.$store.state.currentPost.postid,
            'relate': that.$store.state.relateFloor,
            'content': that.commentContent,
            'uid': that.$store.state.openId
          },
          method: 'POST',
          header: {
            'content-type': 'application/x-www-form-urlencoded'
          },
          success: function (res) {
            if (res.data.success === 1) {
              that.commentContent = ''
              that.readySend = false
              that.$store.commit('setRelateFloor', 0)
              that.$store.commit('setShowReplyBox', false)
              that.$store.commit('setRelateFloor', 0)
              wx.showToast({
                title: '评论成功',
                icon: 'none',
                duration: 1500
              })
              // that.$store.state.currentPost.comment = that.$store.state.currentPost.comment + 1
              that.$store.commit('addCommentNum')
            } else if (res.data.success === 0) {
              wx.showToast({
                title: '发帖失败',
                icon: 'none',
                duration: 1500
              })
            }
          },
          fail: function (res) {
            wx.showToast({
              title: '发帖失败',
              icon: 'none',
              duration: 1500
            })
          }
        })
      } else {
        wx.showToast({
          title: '请填写内容',
          icon: 'none',
          duration: 1500
        })
      }
    },
    closeModel () {
    }
  }
}
</script>

<style>
.comment-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 18rpx 0 18rpx 30rpx;
  background-color: #F7F8F7;
  font-size: 28rpx;
  z-index: 999;
}

.textarea {
  width: 604rpx;
  min-height: 34rpx;
  max-height: 102rpx;
  border-width: 15rpx 20rpx;
  border-style: solid;
  border-color:  #ffffff;
  line-height: 34rpx;
  font-size: 28rpx;
  background-color: #ffffff;
  border-radius: 4rpx;
}

.submit {
  width: 116rpx;
  height: 64rpx;
  line-height: 64rpx;
  text-align: center;
  color: #66CC00;
}
</style>
