@mixin bg-shadow() {
  box-shadow: 0 2px 2px #888;
  background: #fff;
}

@mixin text-over() {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

@mixin text-over-multiple($num: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}
