@import '../styles/variables.scss';
@import '../styles/mixin.scss';

.trending-item {
  display: flex;
  padding: 14px;
  line-height: 2.2;
  flex-direction: column;
  margin: 5px;
  @include bg-shadow();

  .top {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    .trending-name {
      color: $color-font-grey;
      @include text-over();
      font-weight: bold;
      width: 240px;
    }
    .trending-time {
      color: $color-font-grey;
      @include text-over();
      font-weight: bold;
      width: 240px;
      margin-left: 43px;
      margin-top: -26px;
    }
    .trending-lang {
      color: red;
      @include text-over();
      width: 100px;
      flex: 1;
      text-align: right;
      .lang-color {
        display: inline-block;
        margin: 0 10px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
      .lang-color-blue {
        color: $color-font-grey;
        display: inline-block;
        margin: 0 20px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
      }
    }
  }
  .trending-desc {
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 1.2;
  }
  .bottom {
    display: flex;
    width: 320px;
    margin-top: 8px;
    margin-left: 24px;
    font-size: 13px;
    color: $color-font-grey;
    p {
      width: 80px;
    }
    .incrementone {
      flex: 1;
    }
    .incrementtwo {
      flex: 2;
    }
    .desc {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}
