<template>
  <div>
    <div class='header'>
      <image src='../../static/images/logo.jpg'></image>
    </div>
    <div class='content'>
      <div>申请获取以下权限</div>
      <p>获得你的公开信息(昵称，头像等)</p>
    </div>
    <button class='bottom' type='primary' open-type="getUserInfo" @getuserinfo="bindGetUserInfo">
      授权登录
    </button>
  </div>
</template>

<script>
import { OPENID_URL, APPID, SECRET, INSERT_USER_URL, GET_USER_INFO_URL } from '../../api/index'

export default {
  data () {
    return {
    }
  },
  methods: {
    bindGetUserInfo (e) {
      let that = this
      if (e.mp.detail.userInfo) {
        wx.login({
          success (e) {
            wx.request({
              url: OPENID_URL,
              method: 'GET',
              data: {
                appid: APPID,
                secret: SECRET,
                js_code: e.code,
                grant_type: 'authorization_code'
              },
              success (res) {
                that.$store.commit('setOpenId', res.data.openid)
                wx.getUserInfo({
                  lang: 'zh_CN',
                  success (req) {
                    that.$store.commit('setUserProvince', req.userInfo.province)
                    wx.request({
                      url: INSERT_USER_URL,
                      method: 'POST',
                      data: {
                        uid: that.$store.state.openId,
                        nickname: req.userInfo.nickName,
                        province: req.userInfo.province,
                        icon: req.userInfo.avatarUrl
                      },
                      header: {
                        'content-type': 'application/x-www-form-urlencoded'
                      },
                      success (res) {
                        wx.switchTab({
                          url: '../index/main'
                        })
                      }
                    })
                  }
                })
              }
            })
          }
        })
      } else {
        wx.showModal({
          title: '警告',
          content: '您点击了拒绝授权，将无法进入小程序，请授权之后再进入!!!',
          showCancel: false,
          confirmText: '返回授权',
          success () {
          }
        })
      }
    },
    getUserCommentRight () {
      let that = this
      wx.request({
        url: GET_USER_INFO_URL,
        method: 'POST',
        data: {
          'uid': that.$store.state.openId
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          that.$store.commit('setCommentRight', res.data.ban)
        }
      })
    }
  },
  onLoad () {
    let that = this
    wx.getSetting({
      success (res) {
        if (res.authSetting['scope.userInfo']) {
          wx.login({
            success (e) {
              wx.request({
                url: OPENID_URL,
                method: 'GET',
                data: {
                  appid: APPID,
                  secret: SECRET,
                  js_code: e.code,
                  grant_type: 'authorization_code'
                },
                success (res) {
                  that.$store.commit('setOpenId', res.data.openid)
                  let th = that
                  wx.getUserInfo({
                    lang: 'zh_CN',
                    success (resource) {
                      th.$store.commit('setUserProvince', resource.userInfo.province)
                    }
                  })
                  wx.switchTab({
                    url: '../index/main'
                  })
                }
              })
            }
          })
        }
      }
    })
  }
}
</script>

<style>
.header {
  margin: 90rpx 0 90rpx 50rpx;
  border-bottom: 1px solid #ccc;
  text-align: center;
  width: 650rpx;
  height: 300rpx;
  line-height: 450rpx;
}

.header image {
  width: 200rpx;
  height: 200rpx;
}

.content {
  margin-left: 50rpx;
  margin-bottom: 90rpx;
}

.content text {
  display: block;
  color: #9d9d9d;
  margin-top: 40rpx;
}

.bottom {
  border-radius: 80rpx;
  margin: 70rpx 50rpx;
  font-size: 35rpx;
}
</style>
