@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1547346253850'); /* IE9 */
  src: url('iconfont.eot?t=1547346253850#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1547346253850') format('woff'),
  url('iconfont.woff2') format('woff2'),
  url('iconfont.ttf?t=1547346253850') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1547346253850#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-fill {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unlike-filled:before {
  content: "\e86a";
  color: #2BD591;
}

.icon-like-filled:before {
  content: "\e675";
  color: #2BD591;
}
