<template>
  <div>
    <div class="trending-item">
      <div class="top">
        <img class="userinfo-avatar" :src="currentPost.avatar" background-size="cover" />
        <p class="trending-name">{{ currentPost.nickname }} {{ currentPost.range }}</p>
        <p class="trending-lang" v-if="currentPost.is_essence"><span class="lang-color">精</span></p>
        <p class="trending-lang" v-else>&nbsp;</p>
      </div>
      <div class="top">
        <p class="trending-time">{{ currentPost.date }} {{ currentPost.authentication }}</p>
      </div>
      <div class="line"></div>
      <div class="post-content">
        <p class="post-title">{{ currentPost.title }}</p>
        <wemark :mdData='currentPost.content'></wemark>
      </div>
      <div class="bottom">
        <p class="incrementtwo" @click="doLike" v-if="likeState">
          <i class="iconfont icon-like"><span class="desc">{{ currentPost.thumbsup }}</span></i>
        </p>
        <p class="incrementtwo" @click="doLike" v-else>
          <i class="iconfont-fill icon-like-filled">
            <span class="desc">{{ currentPost.thumbsup }}</span>
          </i>
        </p>
        <p class="incrementone"></p>
        <p class="incrementtwo" @click="doUnlike" v-if="unlikeState">
          <i class="iconfont icon-unlike"><span class="desc">{{ currentPost.thumbsdown }}</span></i>
        </p>
        <p class="incrementtwo" @click="doUnlike" v-else>
          <i class="iconfont-fill icon-unlike-filled">
            <span class="desc">{{ currentPost.thumbsdown }}</span>
          </i>
        </p>
        <p class="incrementone"></p>
        <p class="incrementtwo" @click="tryComment($event)">
          <i class="iconfont icon-comment"><span class="desc">{{ currentPost.comment }}</span></i>
        </p>
      </div>
    </div>
    <div class="split">
      <van-icon name="label" class="split-icon" />
      <p class="split-header">广告--{{ ad.title }}</p>
    </div>
    <txv-video :vid="ad.vid" :height="vheight" playerid="txv1" :autoplay="false"></txv-video>
    <div class="split">
      <van-icon name="label" class="split-icon" />
      <p class="split-header">全部评论</p>
    </div>
    <div class="comment-box">
      <commentbox></commentbox>
    </div>
    <div class="reply" v-show="showReplyBox">
      <replybox></replybox>
    </div>
  </div>
</template>

<script>
import replybox from '@/components/reply-box'
import postbox from '@/components/postbox'
import commentbox from '@/components/commentbox'
import wemark from 'mpvue-wemark'
import { GET_COMMENT_URL, LIKE_UNLIKE, GET_USER_INFO_URL, JUDGE_STATE, SEND_STATE } from '../../api/index'

export default {
  data () {
    return {
      currentPost: undefined,
      commentPage: 0,
      likeState: 1,
      unlikeState: 1,
      clicked: 0,
      vheight: '170px',
      initLike: 1,
      initUnlike: 1
    }
  },
  components: {
    replybox,
    postbox,
    commentbox,
    wemark
  },
  computed: {
    showReplyBox: function () {
      return this.$store.state.showReplyBox
    },
    ad: function () {
      let len = this.$store.state.adList.length
      let rand = parseInt(Math.random() * len)
      return this.$store.state.adList[rand]
    }
  },
  methods: {
    requestComments (page) {
      let that = this
      wx.request({
        url: GET_COMMENT_URL,
        data: {
          'postid': that.$store.state.currentPost.postid,
          'page': page
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        method: 'POST',
        success (resource) {
          if (page !== 0) {
            that.$store.commit('addComments', resource.data)
          } else {
            that.$store.commit('setComments', resource.data)
          }
        }
      })
    },
    tryComment () {
      let that = this
      let commentRight = that.getUserCommentRight()

      that.$store.commit('setRelateFloor', 0)
      if (commentRight === 1) {
        wx.showToast({
          title: '您已被禁言',
          icon: 'none',
          duration: 1500
        })
      } else if (this.$store.state.currentPost.comment_allowed === 1) {
        wx.showToast({
          title: '该帖子无法评论',
          icon: 'none',
          duration: 1500
        })
      } else {
        that.$store.commit('setShowReplyBox', true)
      }
    },
    getUserCommentRight () {
      let that = this
      let right = 0
      wx.request({
        url: GET_USER_INFO_URL,
        method: 'post',
        data: {
          'uid': that.$store.state.openId
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          right = res.data.ban
          that.$store.commit('setCommentRight', res.data.ban)
        }
      })
      return right
    },
    doLike () {
      if (this.likeState === 1) {
        this.clicked = 1
        if (this.unlikeState === 0) {
          this.unlikeState = 1
          this.currentPost.thumbsdown = this.currentPost.thumbsdown - 1
        }
        this.likeState = 0
        this.currentPost.thumbsup = this.currentPost.thumbsup + 1
        wx.showToast({
          title: '点赞成功',
          icon: 'success',
          duration: 1500
        })
      } else {
        this.clicked = 1
        this.likeState = 1
        this.currentPost.thumbsup = this.currentPost.thumbsup - 1
        wx.showToast({
          title: '取消点赞成功',
          icon: 'success',
          duration: 1500
        })
      }
    },
    doUnlike () {
      if (this.unlikeState === 1) {
        this.clicked = 1
        if (this.likeState === 0) {
          this.likeState = 1
          this.currentPost.thumbsup = this.currentPost.thumbsup - 1
        }
        this.unlikeState = 0
        this.currentPost.thumbsdown = this.currentPost.thumbsdown + 1
        wx.showToast({
          title: '点踩成功',
          icon: 'success',
          duration: 1500
        })
      } else {
        this.clicked = 1
        this.unlikeState = 1
        this.currentPost.thumbsdown = this.currentPost.thumbsdown - 1
        wx.showToast({
          title: '取消点踩成功',
          icon: 'success',
          duration: 1500
        })
      }
    },
    sendLikeAndUnlike (postid, uid, likeState, unlikeState) {
      wx.request({
        url: LIKE_UNLIKE,
        data: {
          id: postid,
          uid: uid,
          like: likeState,
          unlike: unlikeState
        },
        method: 'POST',
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success () {
        }
      })
    },
    judgeState () {
      let that = this
      wx.request({
        url: JUDGE_STATE,
        data: {
          postid: that.currentPost.postid,
          uid: that.$store.state.openId
        },
        method: 'POST',
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          const stateInfo = res.data
          if (stateInfo.success === 1) {
            that.likeState = stateInfo.like
            that.initLike = stateInfo.like
            that.initUnlike = stateInfo.unlike
            that.unlikeState = stateInfo.unlike
          } else if (stateInfo.success === 0) {
            that.likeState = 1
            that.unlikeState = 1
            that.initLike = 1
            that.initUnlike = 1
          }
        }
      })
    },
    sendState (postid, uid, like, unlike) {
      wx.request({
        url: SEND_STATE,
        data: {
          postid: postid,
          uid: uid,
          like: like,
          unlike: unlike
        },
        method: 'POST',
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success () {
        }
      })
    }
  },
  onShow () {
    this.currentPost = this.$store.state.currentPost
    this.judgeState()
    wx.hideTabBar({})
  },
  onReachBottom () {
    this.commentPage = this.commentPage + 1
    this.requestComments(this.commentPage)
  },
  onLoad () {
    this.requestComments(0)
  },
  onUnload () {
    this.$store.commit('resetComments')
    this.commentPage = 0
    if (this.likeState !== this.initLike || this.unlikeState !== this.initUnlike) {
      this.sendLikeAndUnlike(this.currentPost.postid, this.$store.state.openId, this.likeState, this.unlikeState)
      this.sendState(this.currentPost.postid, this.$store.state.openId, this.likeState, this.unlikeState)
    }
    this.clicked = 0
  }
}
</script>

<style lang="scss">
@import '../../styles/postbox.scss';
@import '../../../static/fonts/iconfont.css';
@import '../../../static/fonts/font_fill/iconfont.css';

.post-content {
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.post-title {
  font-weight: bold;
  font-size: 24px;
}

.userinfo-avatar {
  width: 70rpx;
  height: 70rpx;
  margin: 10rpx 20rpx 10rpx 0;
  border-radius: 50%;
}

.split {
  margin: 5px;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  display: flex;
}

.split-header {
  margin-top: 2px;
  margin-left: 5px;
  font-size: 15px;
  color: #666;
  margin-bottom: 2px;
}

.split-icon {
  margin-top: 2px;
  margin-left: 5px;
  font-size: 15px;
  color: #2BD591;
  margin-bottom: 2px;
}

.line {
  border-bottom: 1px solid #DCDCDC;
}
</style>
