@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1546519454205'); /* IE9 */
  src: url('iconfont.eot?t=1546519454205#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff2') format('woff2'),
  url('iconfont.woff?t=1546519454205') format('woff'),
  url('iconfont.ttf?t=1546519454205') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1546519454205#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-comment:before {
  content: "\e8e8";
}
