<template>
  <div class="container">
    <div class='list'>
      <span>标题:</span><span><input class='input' type="text" placeholder="最多10个字" v-model="title"></span>
    </div>
    <picker class='picker' @change="bindPickerChange($event)" :value="index" :range="pickerData">
      <span>范围:</span><span style='margin-left:200rpx;'>{{pickerData[index]}}</span>
    </picker>
    <van-tabs :active="active" color="#2BD591">
      <van-tab title="Markdown">
        <div class='content'>
          <textarea :maxlength="20000"  @input='bindTextareaChange($event)' v-model="content"></textarea>
        </div>
      </van-tab>
      <van-tab title="Preview">
        <div class='content'>
          <wemark :mdData='content'></wemark>
        </div>
      </van-tab>
    </van-tabs>
    <button @click="sendPost($event)" :disabled="!hasContent" :class="{ readypost: hasContent }" >发帖</button>
  </div>
</template>

<script>
import wemark from 'mpvue-wemark'
import { SEND_POST_URL } from '../../api/index.js'

export default {
  components: {
    wemark
  },
  watch: {
  },
  data () {
    return {
      pickerData: [
        '全国', '北京', '天津', '河北', '山西', '内蒙古', '辽宁', '吉林', '黑龙江', '上海', '江苏', '浙江', '安徽', '福建',
        '江西', '山东', '河南', '湖北', '湖南', '广东', '广西', '海南', '重庆', '四川', '贵州', '云南', '西藏', '陕西',
        '甘肃', '青海', '宁夏', '新疆', '台湾', '香港', '澳门'
      ],
      index: 0,
      title: '',
      content: '',
      visible: false,
      tab: 'markdown',
      hasContent: false
    }
  },
  methods: {
    bindPickerChange (e) {
      this.index = e.mp.detail.value
    },
    bindTextareaChange (e) {
      if (this.content.length !== 0) {
        this.hasContent = true
      } else {
        this.hasContent = false
      }
    },
    onChange (e) {
      this.title = e.mp.detail
    },
    changeTab (e) {
      this.tab = e.target.dataset.tab
    },
    sendPost ($event) {
      let that = this
      if (that.title === '') {
        wx.showToast({
          title: '请填写标题',
          icon: 'none',
          duration: 1500
        })
      } else {
        wx.request({
          url: SEND_POST_URL,
          data: {
            'title': that.title,
            'content': that.content,
            'range': that.pickerData[that.index],
            'uid': that.$store.state.openId
          },
          method: 'post',
          header: {
            'content-type': 'application/x-www-form-urlencoded'
          },
          success: function (res) {
            if (res.data.success === 1) {
              wx.showToast({
                title: '发帖成功',
                icon: 'success',
                duration: 1500
              })
              setTimeout(function () {
                wx.switchTab({
                  url: '../index/main'
                })
              }, 1800)

              that.content = ''
              that.title = ''
              that.index = 0
            } else if (res.data.success === 0) {
              wx.showToast({
                title: '发帖失败',
                icon: 'none',
                duration: 1500
              })
            }
          },
          fail: function (res) {
            wx.showToast({
              title: '发帖失败',
              icon: 'none',
              duration: 1500
            })
          }
        })
      }
    }
  }
}
</script>

<style>
.container {
  height: 100vh;
  background-color: rgb(245, 245, 249);
}

.container .list {
  background-color: white;
  margin-bottom: 30rpx;
  height: 90rpx;
  width: 85vw;
  padding: 0 30rpx;
  line-height: 90rpx;
}

.container .list .input {
  width: 60vw;
  text-align:center;
  vertical-align:middle;
  display: inline-block;
  line-height: 90rpx;
  background-color: white;
}

.container .picker {
  background-color:  white;
  margin-bottom: 30rpx;
  height: 90rpx;
  width: 85vw;
  line-height: 90rpx;
  padding: 0 30rpx;
}

.container .content {
  overflow: auto;
  width: 92vw;
  background-color: white;
  margin-bottom: 30rpx;
  height: 55vh;
  box-sizing: border-box;
  padding: 10px;
}

.container button {
  width: 240rpx;
  height: 80rpx;
  font-size: 0.8em;
}

.readypost {
  background-color: #2BD591;
  color: white;
}
</style>
