<template>
  <div class="j-pic-upload">
    <div class="j-upload-btn" @click="chooseImg()" :style="{'width':width || '120rpx','height':height || '120rpx'}">
      <span class="j-upload-add">+</span>
    </div>
    <img @click="previewImg(index)" v-for="(src,index) in urls" :key="src" :src="src"
      :style="{'width':width || '120rpx','height':height || '120rpx'}" class="img" >
    <van-button  @click="uploadImage()">提交认证</van-button>
  </div>
</template>

<script>
import {IDENTITY} from '../../api/index'

export default {
  props: ['width', 'height', 'max', 'srcs'],
  data () {
    return {
      urls: []
    }
  },
  mounted () {
    this.urls = this.srcs || []
  },
  methods: {
    chooseImg () {
      let that = this
      wx.chooseImage({
        count: that.max || 3,
        sizeType: ['original', 'compressed'],
        sourceType: ['album', 'camera'],
        success: function (res) {
          res.tempFilePaths.forEach(v => {
            that.urls.push(v)
          })
          that.$emit('choosed', {all: that.urls, currentUpload: res.tempFilePaths})
        }
      })
    },
    uploadImage () {
      let that = this
      for (let i = 0; i < this.urls.length; i++) {
        wx.uploadFile({
          url: IDENTITY,
          filePath: that.urls[i],
          name: 'file',
          header: {
            'content-type': 'multipart/form-data'
          },
          formData: {
            'uid': that.$store.state.openId,
            'prize': that.prize,
            'institution': that.institution
          },
          success (res) {
            if (res.data.success === 1) {
              wx.showToast({
                title: '认证信息发送成功',
                icon: 'success',
                duration: 1500
              })
            } else if (res.data.success === 0) {
              wx.showToast({
                title: '认证信息发送失败',
                icon: 'none',
                duration: 1500
              })
            }
          }
        })
      }
    },
    previewImg (index) {
      let that = this
      wx.showActionSheet({
        itemList: ['预览', '删除'],
        success: function (res) {
          if (res.tapIndex === 0) {
            wx.previewImage({
              current: that.urls[index],
              urls: that.urls
            })
          } else {
            that.urls.splice(index, 1)
            that.$emit('delete', that.urls)
          }
        }
      })
    }
  }
}
</script>

<style scoped>
.j-pic-upload {
  padding: 10rpx;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.j-upload-btn {
  border: 1px dashed #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20rpx;
}
.j-upload-add {
  font-size: 80rpx;
  font-weight: 500;
  color: #C9C9C9;
}
.img {
  margin: 10rpx 20rpx 10rpx 0;
}
</style>
