<template>
  <div class="top-menu">
    <van-tabs :active="active" sticky swipeable animated :scroll-top="scrollTop" @change="onChangeTab" color="#2BD591">
      <van-tab title="热门">
        <div>
          <div class="temp">
            <div class="ad">
              <p class="ad-title">广告--{{ vtitle }}</p>
            </div>
            <txv-video :vid="vid" :height="vheight" playerid="txv1" :autoplay="false"></txv-video>
          </div>
          <postbox></postbox>
        </div>
      </van-tab>
      <van-tab title="全国">
        <div>
          <button class="weui-btn green-btn" size="large" @click="showSort">
            {{ sortOrder }}
          </button>
          <div class="temp">
            <div class="ad">
              <p class="ad-title">广告--{{ vtitle }}</p>
            </div>
            <txv-video :vid="vid" :height="vheight" playerid="txv1" :autoplay="false"></txv-video>
          </div>
          <postbox></postbox>
        </div>
      </van-tab>
      <van-tab title="本地">
        <div>
          <button class="weui-btn green-btn" size="large" @click="showSort">
            {{ sortOrder }}
          </button>
          <div class="temp">
            <div class="ad">
              <p class="ad-title">广告--{{ vtitle }}</p>
            </div>
            <txv-video :vid="vid" :height="vheight" playerid="txv1" :autoplay="false"></txv-video>
          </div>
          <postbox></postbox>
        </div>
      </van-tab>
      <van-tab title="其他">
        <div class="operate">
          <button class="green-btn" @click="showSort">{{ sortOrder }}</button>
          <button class="green-btn" @click="showProvince">{{ currentProvince }}</button>
        </div>
        <div class="temp">
          <div class="ad">
            <p class="ad-title">广告--{{ vtitle }}</p>
          </div>
          <txv-video :vid="vid" :height="vheight" playerid="txv1" :autoplay="false"></txv-video>
        </div>
        <postbox></postbox>
      </van-tab>
    </van-tabs>
    <van-popup :show="sort" @close="closeSort" position="bottom">
      <van-picker show-toolbar :columns="sortType" @cancel="onCancelSort" @confirm="onConfirmSort" />
    </van-popup>
    <van-popup :show="province" @close="closeProvince" position="bottom">
      <van-picker show-toolbar :columns="provinceColumns" @cancel="onCancelProvince" @confirm="onConfirmProvince" />
    </van-popup>
  </div>
</template>

<script>
import postbox from '@/components/postbox'
import { GET_POST_URL, columns, sortMethods, GET_POST_SPEC, GET_AD_URL } from '../../api/index'

export default {
  data () {
    return {
      area: '',
      scrollTop: 0,
      active: 0,
      sort: false,
      sortOrder: '综合排序',
      currentProvince: '请选择省份',
      province: false,
      page: 0,
      provinceColumns: columns,
      sortType: sortMethods,
      type: '热门',
      adid: 0,
      vid: '',
      vtitle: '',
      vheight: '170px'
    }
  },
  components: {
    postbox
  },
  methods: {
    onChangeTab (e) {
      if (e.mp.detail.title === '热门') {
        this.active = 0
        this.page = 0
        this.type = e.mp.detail.title
        this.sortOrder = '综合排序'
        this.requestPosts(this.page, this.type, this.sortOrder)
        this.requestAds()
      } else if (e.mp.detail.title === '全国') {
        this.active = 1
        this.page = 0
        this.type = e.mp.detail.title
        this.sortOrder = '综合排序'
        this.requestPosts(this.page, this.type, this.sortOrder)
        this.requestAds()
      } else if (e.mp.detail.title === '本地') {
        this.active = 2
        this.page = 0
        this.type = e.mp.detail.title
        this.sortOrder = '综合排序'
        this.requestPosts(this.page, this.$store.state.userProvince, this.sortOrder)
        this.requestAds()
      } else if (e.mp.detail.title === '其他') {
        this.active = 3
        this.page = 0
        this.type = e.mp.detail.title
        this.sortOrder = '综合排序'
        if (this.currentProvince === '请选择省份') {
          this.requestPostsSpec(this.page, this.$store.state.userProvince, this.sortOrder)
        } else {
          this.requestPosts(this.page, this.currentProvince, this.sortOrder)
        }
        this.requestAds()
      }
    },
    closeSort () {
      this.sort = false
    },
    closeProvince () {
      this.province = false
    },
    showSort () {
      this.sort = true
    },
    showProvince () {
      this.province = true
    },
    onConfirmSort (event) {
      this.sort = false
      this.sortOrder = event.mp.detail.value
      this.page = 0
      if (this.type === '其他') {
        if (this.currentProvince === '请选择省份') {
          this.requestPostsSpec(this.page, this.$store.state.userProvince, this.order)
        } else {
          this.requestPosts(this.page, this.currentProvince, this.sortOrder)
        }
      } else {
        this.requestPosts(this.page, this.type, this.sortOrder)
      }
    },
    onConfirmProvince (event) {
      this.province = false
      this.currentProvince = event.mp.detail.value
      this.page = 0
      if (this.currentProvince === '请选择省份') {
        this.requestPostsSpec(this.page, this.$store.state.userProvince, this.sortOrder)
      } else {
        this.requestPosts(this.page, this.currentProvince, this.sortOrder)
      }
    },
    onCancelSort () {
      this.sort = false
    },
    onCancelProvince () {
      this.province = false
    },
    requestPosts (pg, tp, st) {
      let that = this
      wx.request({
        url: GET_POST_URL,
        data: {
          page: pg,
          type: tp,
          sort: st
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        method: 'POST',
        dataType: 'json',
        success (resource) {
          if (that.page !== 0) {
            that.$store.commit('addPosts', resource.data)
          } else {
            that.$store.commit('setPosts', resource.data)
          }
        }
      })
    },
    requestPostsSpec (pg, tp, st) {
      let that = this
      wx.request({
        url: GET_POST_SPEC,
        data: {
          page: pg,
          type: tp,
          sort: st
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        method: 'POST',
        dataType: 'json',
        success (resource) {
          if (that.page !== 0) {
            that.$store.commit('addPosts', resource.data)
          } else {
            that.$store.commit('setPosts', resource.data)
          }
        }
      })
    },
    requestAds () {
      let that = this
      wx.request({
        url: GET_AD_URL,
        data: {
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        method: 'POST',
        success (resource) {
          that.$store.commit('setAdList', resource.data)
          let len = that.$store.state.adList.length
          that.adid = parseInt(Math.random() * len)
          that.$store.commit('setCurrentAd', that.$store.state.adList[that.adid])
          that.vid = that.$store.state.currentAd.vid
          that.vtitle = that.$store.state.currentAd.title
        }
      })
    }
  },
  onPageScroll (event) {
    this.scrollTop = event.scrollTop
  },
  onShow () {
    this.requestPosts(this.page, this.type, this.sortOrder)
    this.requestAds()
    wx.showTabBar({})
  },
  onReachBottom () {
    wx.showToast({
      title: '加载中',
      icon: 'loading',
      duration: 1000
    })
    this.page = this.page + 1
    if (this.type === '其他') {
      if (this.currentProvince === '请选择省份') {
        this.requestPostsSpec(this.page, this.$store.state.userProvince, this.sortOrder)
      } else {
        this.requestPosts(this.page, this.currentProvince, this.sortOrder)
      }
    } else if (this.type === '本地') {
      this.requestPosts(this.page, this.$store.state.userProvince, this.sortOrder)
    } else {
      this.requestPosts(this.page, this.type, this.sortOrder)
    }
  },
  onPullDownRefresh () {
    wx.showNavigationBarLoading()
    this.page = 0
    if (this.type === '其他') {
      if (this.currentProvince === '请选择省份') {
        this.requestPostsSpec(this.page, this.$store.state.userProvince, this.sortOrder)
      } else {
        this.requestPosts(this.page, this.currentProvince, this.sortOrder)
      }
    } else if (this.type === '本地') {
      this.requestPosts(this.page, this.$store.state.userProvince, this.sortOrder)
    } else {
      this.requestPosts(this.page, this.type, this.sortOrder)
    }
    wx.hideNavigationBarLoading()
  }
}
</script>

<style scoped lang="css">
.operate {
  display: flex;
}

.green-btn{
  flex: 1;
  background-color: #fff;
  color: #2BD591;
  border: 0;
  font-size: 16px;
}

.ad {
  font-size: 16px;
  margin: 8px;
  color: #A9A9A9;
}

.ad-title {
  margin-bottom: 5px;
}

</style>
