<template>
<div>
  <van-notice-bar
    text="请选择正确的身份进行认证 请选择正确的身份进行认证 请选择正确的身份进行认证"
  />
  <van-cell-group>
  <van-cell title="你的身份" :value="identity"/>
  </van-cell-group>
  <van-tabs :active="active" color="#2BD591" @change="chooseType" animated>
  <van-tab title="学生">
    <van-field :value="prize" center clearable label="奖项" placeholder="请输入认证奖项" :border="border" disabled use-button-slot>
      <van-button slot="button" size="small" type="default" @click="prizeClick">奖项选择</van-button>
    </van-field>
    <van-popup :show="prizeshow" @close="prizeClose" position="bottom">
      <van-picker :columns="prizeList" @change="prizeChange" />
    </van-popup>
    <div>
      <div class="j-pic-upload">
        <div class="j-upload-btn" @click="chooseImage" :style="{'width':width || '120rpx','height':height || '120rpx'}">
          <span class="j-upload-add">+</span>
        </div>
        <img @click="previewImg(index)" v-for="(src,index) in urls" :key="src" :src="src"
          :style="{'width':width || '120rpx','height':height || '120rpx'}" class="img" >
        <van-button  @click="uploadImage()">提交认证</van-button>
      </div>
    </div>
  </van-tab>
  <van-tab title="老师">
    <van-cell-group>
      <van-field :value="institution" label="认证身份" @input="setInstitution" placeholder="请输入认证身份"/>
    </van-cell-group>
    <div class="j-pic-upload">
      <div class="j-upload-btn" @click="chooseImage" :style="{'width':width || '120rpx','height':height || '120rpx'}">
        <span class="j-upload-add">+</span>
      </div>
      <img @click="previewImg(index)" v-for="(src,index) in urls" :key="src" :src="src"
        :style="{'width':width || '120rpx','height':height || '120rpx'}" class="img" >
      <van-button  @click="uploadImage()">提交认证</van-button>
    </div>
  </van-tab>
  </van-tabs>
</div>
</template>
<script>
import {IDENTITY, GET_USER_INFO, prizeList} from '../../api/index'

export default {
  data () {
    return {
      ban: true,
      prize: '',
      disabledTeacher: true,
      disabledStudent: false,
      prizeshow: false,
      identity: '游客',
      prizeList: prizeList,
      photoUrl: '',
      imgwidth: 500,
      imgheight: 300,
      tempFilePaths: [],
      institution: '',
      urls: [],
      active: 0,
      type: ''
    }
  },
  methods: {
    chooseType (event) {
      this.type = event.mp.detail.index
      this.type = this.type + 1
    },
    setInstitution (event) {
      this.institution = event.mp.detail
    },
    prizeChange (event) {
      this.prize = event.mp.detail.value
    },
    prizeClick () {
      this.prizeshow = true
    },
    prizeClose () {
      this.prizeshow = false
    },
    chooseImage (e) {
      let that = this
      wx.chooseImage({
        count: that.max || 3,
        sizeType: ['original', 'compressed'],
        sourceType: ['album', 'camera'],
        success: function (res) {
          res.tempFilePaths.forEach(v => {
            that.urls.push(v)
          })
          that.$emit('choosed', {all: that.urls, currentUpload: res.tempFilePaths})
        }
      })
    },
    uploadImage (e) {
      let that = this
      console.log('-----------')
      console.log(that.institution)
      console.log(that.active + 1)
      for (let i = 0; i < this.urls.length; i++) {
        wx.uploadFile({
          url: IDENTITY,
          filePath: that.urls[i],
          name: 'file',
          header: {
            'content-type': 'multipart/form-data'
          },
          formData: {
            'uid': that.$store.state.openId,
            'prize': that.prize,
            'institution': that.institution,
            'type': that.type
          },
          success (res) {
            let obj1 = JSON.parse(res.data)
            if (obj1.success === 1) {
              wx.showToast({
                title: '认证信息发送成功',
                icon: 'success',
                duration: 1000
              })
              setTimeout(function () {
                wx.navigateBack({
                  url: '../addUserInfo/main'
                })
              }, 1000)
            } else if (obj1.success === 0) {
              wx.showToast({
                title: '认证信息发送失败',
                icon: 'none',
                duration: 1000
              })
            }
          }
        })
      }
    },
    previewImg (index) {
      let that = this
      wx.showActionSheet({
        itemList: ['预览', '删除'],
        success: function (res) {
          if (res.tapIndex === 0) {
            wx.previewImage({
              current: that.urls[index],
              urls: that.urls
            })
          } else {
            that.urls.splice(index, 1)
            that.$emit('delete', that.urls)
          }
        }
      })
    },
    getUserInfo (event) {
      let that = this
      let api = GET_USER_INFO
      wx.request({
        url: api,
        method: 'post',
        data: {
          'uid': that.$store.state.openId
        },
        header: {
          'content-type': 'application/x-www-form-urlencoded'
        },
        success (res) {
          if (res.data.type === 'other') {
            that.identity = '其他'
          } else if (res.data.type === 'student') {
            that.identity = '学生'
            that.type = '1'
          } else if (res.data.type === 'schoolTeacher') {
            that.identity = '学校老师'
            that.active = 1
            that.type = '2'
          } else if (res.data.type === 'institutionTeacher') {
            that.identity = '机构老师'
            that.active = 1
            that.type = '2'
          } else if (res.data.type === 'parent') {
            that.identity = '家长'
          }
        }
      })
    }
  },
  onLoad () {
    this.getUserInfo()
  }
}
</script>
<style scoped>
  .j-pic-upload{
    padding: 10rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
.j-upload-btn{
  border: 1px dashed #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20rpx;
}
  .j-upload-add{
    font-size: 80rpx;
    font-weight: 500;
    color:#C9C9C9;
  }
  .img{
    margin:10rpx 20rpx 10rpx 0;
  }
</style>
